body {
    background-color: #00005c;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
}

.inner-addon {
    position: relative;
}

.ion {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 150%;
}

.right-addon .ion{
    right: 0px;
}

.right-addon input { padding-right: 30px; }

a, a:visited, a:hover, a:active {
    color: inherit;
}